@use '../../../styles/vars/colors.scss' as colors;

.heading {
  display: inline-block;
  align-self: flex-start;
  padding: 10px 20px;

  background-color: colors.$white;
  border: 2px solid colors.$black;

  font-weight: 500;
  font-size: 2rem;

  border-radius: 15px;
}

@media (max-width: 600px) {
  .heading {
    font-size: 1.5rem;
  }
}
