@use '../../../styles/vars/colors.scss' as colors;

.header {
  background-color: colors.$white;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 20;
  left: 0;
  right: 0;
  // width: 100%;

  border-bottom: 3px solid colors.$black;
  padding: 10px 20px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 100px;
    height: 40px;
  }
}
.buttons {
  display: flex;
  gap: 10px;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  padding: 3px 15px 5px;

  font-weight: 500;
  font-size: 1rem;

  border-radius: 10px;
  border: 2px solid colors.$black;

  transition: all 0.1s ease;
  user-select: none;

  &:hover {
    background-color: colors.$yellowHover;
  }

  &:active {
    background-color: colors.$yellow;
  }

  svg {
    width: 25px;
    height: 26px;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 10px 5px 10px 20px;
  }
  .buttons {
    flex-direction: column;
    align-items: end;
    gap: 5px;
  }

  .button {
    font-size: 0.8rem;
    padding: 3px 10px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
