@use '../../../../styles/vars/colors.scss' as colors;

.page {
  background-color: colors.$grayLight;
  min-height: 100vh;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    max-width: 1440px;
    padding: 100px 10px 0;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }

  &__children {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.footer {
  margin-top: 50px;
  border-top: 2px solid colors.$black;
  background-color: colors.$yellow;
  padding: 15px;

  div {
    font-size: 1rem;
    font-weight: 500;

    a {
      text-decoration: underline;
    }
  }
}

@media (max-width: 600px) {
  .page {
    &__content {
      padding: 100px 10px 0;
      margin: 0 auto;
    }
  }
}
