@use '../../../styles/vars/colors.scss' as colors;

.polls {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .polls {
    &__content {
      gap: 5px;
    }
  }
}
