@use '../../../styles/vars/colors.scss' as colors;

.poll {
  display: flex;
  gap: 10px;

  padding: 15px;
  padding-right: 30px;

  cursor: pointer;

  border: 2px solid colors.$black;
  border-radius: 15px;

  background-color: colors.$white;

  transition: all 0.2s ease;

  h4 {
    word-break: break-all;
  }

  &:hover {
    background-color: colors.$yellowHover;
  }

  &:active {
    background-color: colors.$yellow;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 1.5rem;

    p {
      display: flex;
      align-items: center;
      gap: 5px;

      color: colors.$gray;

      font-weight: 100;
      font-size: 0.9rem;
      font-weight: 400;

      svg {
        width: 25px;
        height: 23px;
      }
    }
  }

  &__voteSign {
    svg {
      width: 50px;
      height: 50px;
    }
  }
}

@media (max-width: 600px) {
  .poll {
    &__voteSign {
      display: none;
    }
    h4 {
      font-size: 1rem;
    }
  }
}
